# {{ ansible_managed }}

[Unit]
{% if kraft_enabled %}
Requires=network.target remote-fs.target
After=network.target remote-fs.target
{% else %}
Requires=zookeeper.service
After=zookeeper.service
{% endif %}

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
Environment="KAFKA_HEAP_OPTS={{ kafka_java_heap }}"
Environment="LOG_DIR={{ kafka_log_dir }}"
ExecStart=/bin/sh -c '{{ kafka_app_dir }}/bin/kafka-server-start.sh {{ kafka_app_dir }}/config/server.properties > {{ kafka_log_dir }}/kafka.log 2>&1'
ExecStop={{ kafka_app_dir }}/bin/kafka-server-stop.sh
Restart=on-abnormal
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
